/* NavBar */


/* .navbar-Nav > *{
    text-align: left;
} */

/* html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
} */


.NavSpacing {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .navRightMenu {
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 991px) {
    .navLeftMenu {
        display: flex;
        justify-content: flex-start;
    }
}

/* ---------------------------------------Carousel */

.buttonParent {
    position: relative;
}

.btnMenu, .btnCallMe
{
    color: white;
    font-size: 22px;
    background-color: #49111C;
    border-radius: 20px;
    width: 8rem;
}

@media (min-width: 992px) {
    .hover-slide {
        display: none;
    }
}

@media (min-width: 992px) {
    .hover-slide-2 {
        display: none;
    }
}

@media (max-width: 991px) {
    .hover-slide {
        position: absolute;
        /*margin-left: 30%;*/
        z-index: 99;
        top: 50%;
        display: flex;
        justify-content: center;
    }

    .hover-slide-2 {
        position: absolute;
        /*margin-left: 30%;*/
        z-index: 99;
        top: 40%;
        display: flex;
        justify-content: center;
    }
}



@media screen and (max-width: 767px)
{
    .hover-slide{
        display: flex;
        justify-content: center;
    }

    .hover-slide-2 {
        display: flex;
        justify-content: center;
    }

}


.carousel-item {
    transition: transform 3.6s ease-in-out;
}

.carouselHeight img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}

.tacoCarousel {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}

.carouselText {
    color: #49111C;
    text-align: left;
    font-size: 3vw;
    font-family: 'Kameron', serif;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.logoTepa {
    font-size: 30px;
    color: brown;
    border-color: aqua;
}

@media (max-width: 450px) {
    .carouselHeight img {
        height: 100vh;
        object-fit: cover;
        overflow: hidden;
    }
}

@media (max-width: 1000px) {
    .carouselImages {
        display: none;
    }
}

/*------------------------------------------- footer */

.footChild {
    display: grid;
    justify-content: center;
}

.footerBackground {
    background-color: #faeaed;
}

.footerBorder {
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5rem;
    padding-left: 5rem;
}

/* .footerBorder
{
    padding-left: 2rem;
    padding-right: 2rem;
} */

/* @media (max-width: 426)
{
    .footerBorder
    {
        max-height: 10rem;
        display: flex;
        flex-direction: row;
    }
} */

.footerIcons {
    max-height: 2rem;
}

.copyRight {
    max-height: 2rem;
    color: white;
    font-family: 'Kameron', serif;
}

@media (max-width: 454px) {
    .footerIcons {
        height: 20px;
    }

    .copyRight
    {
        font-size: 10px;
        padding-left: 0;
    }

    .footerBorder{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 991px) {
    .footerIcons {
        height: 32px;
    }

    .copyRight
    {
        font-size: 10px;
        padding-left: 0;
    }

    .footerBorder{
        display: flex;
        justify-content: space-between;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (max-width: 991px){
    .footerInfo {
        display: none;
    }
}

@media (min-width: 992px){
    .footerIcons
{
    padding-left: 5px;
}

}

body {
    background-color: lightgrey;
}

.imgdoordash {
    
    width: 80px;
    height: 80px;
}

.imggrubhub {
    width: 80px;
    height: 80px;
}

.imgpostmates {
    width: 80px;
    height: 80px;
}

.imgubereats {
    width: 80px;
    height: 68px;
    
}

.img-fluid {
        width: 2000px;
        height: 500px;
        object-fit: cover;
}

p.main {
    text-align: center;
    font-size: 24px;
}

.row  {
    display: flex;
}

h3 {
    text-align: center;
}


.BGimage{
    background-image: url("../assets/icons/o\ \(1\).jpg");
    background-color: #cccccc; 
    height: 1350px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    max-width: 100%;
}
.navbar23{
    display: flex;
    justify-content: end;
}
.no89{
   -webkit-text-fill-color: #ad3400;
   font-family: montagu slab;
}
.tepaLogo
{
	-webkit-text-stroke: 2px #ad3400;
	-webkit-text-fill-color: white;
    text-align: start;
    padding-left: 5%;
    font-weight: bolder;
    font-family: kameron;
}
.taquLogo
{
	font-size: 34px;
	-webkit-text-stroke: 2px #ad3400;
	-webkit-text-fill-color: #ffa234;
    font-weight: bolder;
    font-family: kameron;
    
    
}
.headerContainer
{
    background-color: white;
}
.reachUs
{
 width: 50%;
 height: 280px;
    background: #d9d9d9 0% 0% no-repeat padding-box;
opacity: 0.8;
margin-left: 25%;
margin-top: 10%;
}
.reachText
{
    -webkit-text-fill-color: #49111c;
   font-size: 550%;
   font-family: montagu slab;
}
.contactInfo
{
    height: 300px;
    background: #d9d9d9 0% 0% no-repeat padding-box;
    opacity: 0.8;
    margin-top: 10%;

}
.font49
{
    font-size: 450%;
    -webkit-text-fill-color: #49111c;
    font-family: montagu slab;
    
}
.font47
{
    font-size: 200%;
    -webkit-text-fill-color: #49111c;
    font-family: montagu slab;
}
.font46
{
    font-size: 200%;
    -webkit-text-fill-color: #49111c;
    font-family: montagu slab;
}
.waterLogo
{
    margin-top: 15%;
    display: flex;
   
    


}
.newImage{
    background-image: url(../assets/icons/2018-04-08.jpg);
    background-position:center; 
    background-position-x: 34%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 515px;
}
.moInfo
{
    background-color: black;
    height: 160px;
    opacity: 0.8;
    -webkit-text-fill-color: white;
    font-size: 150%;
    font-weight: bold;
}
.moBot
{
    font-size: larger;
    padding-top: 3%;
    padding-right: 3%;
}

@media only screen and (max-width: 426px)
{
   .BGimage
   {
    background-image: url();
    background-color: white;
   }
}
@media only screen and (max-width: 768px){
.font49{ 
    font-size: 30px;
}
.font47{
    font-size: 15px;
}
.font46{
    font-size: 15px;
}
.reachText{
    font-size:50px;
}
.reachUs{
    height: 150px;
}
.contactInfo{
    height: 150px;
}
.BGimage{
    height: 800px; 
    background-position:center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.tepaPic
{
    width: 60%;
}
.taquLogo{
    padding-right: 51%;
}

}
@media only screen and (max-width: 426px)
{
   .contactInfo
   {
    display: none;
   }
   .waterLogo{
    display: none;
   }
   .reachUs{
    display: none;
   }
   .taquLogo
   {
    padding-right: 23%;
   }
}
@media only screen and (min-width:426px)
{
  .moLoc
  {
    display: none;
  }  
   .newImage
   {
    display: none;
   }
  .botMo
  {
    display: none;
  }
}